@model SamplePB.Models.PersonViewModel

@{
    ViewBag.Title = "ChangeProfilePicture";
    var base64 = Convert.ToBase64String(Model.ActualImage);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<h2>ChangeProfilePicture</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.HiddenFor(m => m.PersonId)
    <input type="file" accept="image/*" onchange="loadFile(event)" name="OriginalLocation" id="OriginalLocation">
    <img id="output" height="100" width="100" src="@imgSrc" />
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script><br/>
    <br />
    <p><input type="submit" value="Save" class="btn btn-success" />         @Html.ActionLink("Cancel", "ShowContactDetails", new { id = Model.PersonId })</p>
}