@model SamplePB.Models.PersonViewModel

@{
    ViewBag.Title = "ChangeProfilePicture";
}

<h2>ChangeProfilePicture</h2>

<form action="/Contacts/ChangeProfilePicture" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.PersonId)
    <input type="file" accept="image/*" onchange="loadFile(event)" name="OriginalLocation" id="OriginalLocation">
    <img id="output" height="100" width="100" />
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script><br/>
    <br />
    <input type="submit" value="Save" class="btn btn-success" />&nbsp;@Html.ActionLink("Cancel", "ShowContactDetails", new { id = Model.PersonId })
</form>